.App{
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
}
body{
  margin: auto;
}
.box{
  display: inline-block;
  width: 200px;
  height: 200px;
  /* background-color: yellow; */
  border: 1px solid black;
  margin: 5px;
}